.payment {
    background-color: white;
    min-height: 500px;
    height: max-content;
}

.payment_section {
    padding: 10px;
}

.dilevery_address {
    display: flex;
    align-items: center;
    border-bottom: 2px solid grey;
}

.dilevery_address h1,
.dilevery_address h2,
.dilevery_address span {
    color: black;
    padding: 5px;
}

.dilevery_items {
    display: flex;
    align-items: center;
    border-bottom: 2px solid grey;
}

.dilevery_items h2 {
    color: black;
}

.payment_left {
    flex: 0.4;
    padding: 5px;
}

.payment_right {}

.payment_method {
    display: flex;
    align-items: center;
}

.payment_method .payment_right {
    flex: 0.8;
}
.payment_method .payment_left {
    flex: 0.2;
}

.payment_method h2 {
    color: black;
}
.payment_button{
    background: #f0c14b;
    border-radius: 2px;
    width: 100%;
    height: 30px;
    border: 1px solid;
    margin-top: 10px;
    border-color: #a88734 #9c7e31 #846a29;
    color: #111
}